{% extends "../extends/frameBaseList.html" %}


{% block pageTitle %}家庭资料{% endblock %}


{% block queryFields %}
    <select id="queryStatus" selectedValue="{{ status }}" class="right font-size2 inputType" style="width: 80px; margin-right: 10px; ">
        <option value="9">全部</option>
        <option value="1">正常</option>
        <option value="0">失效</option>
    </select>
{% endblock %}


{% block dataGrid %}
    <table>
        <thead>
        <tr>
            <th style="width: 50px; ">序号</th>
            <th style="width: 120px; ">家长</th>
            <th style="width: 140px; ">所在城市/村镇</th>
            <th style="width: 240px; ">家庭住址</th>
            <th style="width: 230px; ">备注</th>
            <th style="width: 160px; ">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for rec in dataList %}
            <tr recID="{{ rec.id }}">
                <td style="text-align: center; ">{{ forloop.counter }}</td>
                <td style="text-align: left; "><a href="{% url 'app-base:familyDetail' nid=rec.id %}">{{ rec.name.name }}</a></td>
                {% if rec.location %}
                    <td>{{ rec.location }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if rec.address %}
                    <td>{{ rec.address }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if rec.remark %}
                    <td>{{ rec.remark }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td style="text-align: center; "><span class="labelBtn recModify">修改</span><span class="labelBtn recDelete">删除</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block scriptSub %}
    $("#PAGE_reccnt_perpage_select").change(function () {
        $.cookie("reccnt_perpage", $(this).val(), {path: "/base/"});
        location.href = "http://127.0.0.1:8000/base/familyList-" + $("#queryStatus").val() + "-1";
    });
    $("#queryStatus").children().each(function () {
        if ($(this).val() == $("#queryStatus").attr("selectedValue")) {
            $(this).attr("selected", "selected");
        }
    });
    $("#btnQuery").click(function () {
        location.href = "http://127.0.0.1:8000/base/familyList-" + $("#queryStatus").val() + "-1";
    });
    $("#btnNew").click(function () {
        location.href = "{% url 'app-base:familyNew' %}";
    });
    $(".recModify").click(function () {
        location.href = "http://127.0.0.1:8000/base/familyModify-" + $(this).parent().parent().attr("recID")
    });
    $("#delOk").click(function () {
        $(".promptInfo").text("");
        csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            url: "http://127.0.0.1:8000/base/familyDelete-" + $(this).parent().parent().attr("recID"),
            method: "POST",
            data: {"csrfmiddlewaretoken": csrf},
            dataType: "JSON",
            success: function(data) {
                if (data.result) {
                    location.reload();
                } else {
                    $(".promptInfo").text(data.info);
                    $(".cover-layer").addClass("hide");
                    $("#dialogDel").addClass("hide");
                }
            }
        })
    });
{% endblock %}
