{% extends "../extends/frameBaseDetail.html" %}


{% block pageTitle %}家庭资料 — 查看{% endblock %}


{% block dataFree %}
    <table>
        <tr>
            <td class="groupTitle" colspan="3">家庭资料</td>
        </tr>
        {% for col in form %}
            <tr>
                <td class="col1">{{ col.label }}</td>
                {% if col.name == "name" %}
                    <td class="col2">{{ rec.name }}</td>
                {% elif col.name == "status" %}
                    {% if col.value == 1 %}
                        <td class="col2">正常</td>
                    {% else %}
                        <td class="col2">失效</td>
                    {% endif %}
                {% else %}
                    <td class="col2">{{ col.value|default:"" }}</td>
                {% endif %}
                <td class="col4"><div class="subRemark">{{ col.help_text.0 }}</div><div class="subRemark">{{ col.help_text.1 }}</div></td>
            </tr>
        {% endfor %}
    </table>
    <p>
        <input id="btnOk" class="inputBtn" type="button" value="返回" style="margin-left: 196px; ">
    </p>
{% endblock %}


{% block scriptSub %}
    $("#btnOk").click(function () {
        location.href = "{% url 'app-base:familyList' status=1 pageNo=1 %}";
    });
{% endblock %}
