{% extends "../extends/frameBaseNew.html" %}


{% block pageTitle %}家庭资料 — 新增{% endblock %}


{% block dataFree %}
    <form action="{% url 'app-base:familyNew' %}" method="POST">
        {% csrf_token %}
        <table>
            {% if form.non_field_errors %}
                <tr class="promptLine">
                    <td class="col1 promptInfo"><label>错误：</label></td>
                    <td class="promptInfo" colspan="2">{{ form.non_field_errors.0 }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="groupTitle" colspan="3">家庭资料</td>
            </tr>
            {% for col in form %}
                <tr>
                    <td class="col1"><label for="{{ col.id_for_label }}">{{ col.label }}：</label></td>
                    <td class="col2">{{ col }}</td>
                    <td class="col4"><div class="subRemark">{{ col.help_text.0 }}</div><div class="subRemark">{{ col.help_text.1 }}</div></td>
                </tr>
                {% if col.errors %}
                    <tr class="promptLine">
                        <td class="col1 promptInfo"><label>错误：</label></td>
                        <td class="promptInfo" colspan="2">{{ col.errors.0 }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <p>
            <input class="inputBtn" type="submit" value="提交" style="margin-left: 196px; ">
            <input id="btnCancel" class="inputBtn" type="button" value="取消">
        </p>
    </form>
{% endblock %}


{% block scriptSub %}
    $("#btnCancel").click(function () {
        location.href = "{% url 'app-base:familyList' status=1 pageNo=1 %}"
    });
{% endblock %}
