{% extends "../extends/frameBaseDetail.html" %}


{% block pageTitle %}家庭资料 — 查看{% endblock %}


{% block dataFree %}
    <table>
        <tr>
            <td class="groupTitle" colspan="3">家庭资料</td>
        </tr>
        <tr>
            <td class="col1">{{ form.name.label }}</td>
            <td class="col2">{{ rec.name }}</td>
            <td class="col4"><div class="subRemark">请填写真实姓名</div><div class="subRemark">以便人员识别</div></td>
        </tr>
        <tr>
            <td class="col1">{{ form.location.label }}</td>
            <td class="col2">{{ rec.location }}</td>
            <td class="col4"><div class="subRemark">请填写所在城市或者村</div><div class="subRemark">用于地域分类</div></td>
        </tr>
        <tr>
            <td class="col1">{{ form.address.label }}</td>
            <td class="col2">{{ rec.address }}</td>
            <td class="col4"><div class="subRemark">请填写家庭详细住址</div><div class="subRemark">各家庭成员共用</div></td>
        </tr>
        <tr>
            <td class="col1">{{ form.status.label }}</td>
            {% if rec.status == 1 %}
                <td class="col2">正常</td>
            {% else %}
                <td class="col2">失效</td>
            {% endif %}
            <td class="col4"><div class="subRemark">人员状态</div><div class="subRemark">失效后默认不做事件预测、报表统计等</div></td>
        </tr>
        <tr>
            <td class="col1">{{ form.remark.label }}</td>
            <td class="col2">{{ rec.remark }}</td>
            <td class="col4"><div class="subRemark">其他信息</div><div class="subRemark"></div></td>
        </tr>
    </table>
    <p>
        <input id="btnOk" class="inputBtn" type="button" value="返回" style="margin-left: 196px; ">
    </p>
{% endblock %}


{% block scriptSub %}
    $("#btnOk").click(function () {
        location.href = "{% url 'app-base:familyList' status=1 pageNo=1 %}";
    });
{% endblock %}
