{% extends "../extends/frameBaseDetail.html" %}


{% block pageTitle %}人员资料 — 查看{% endblock %}


{% block dataFree %}
    <table>
        {% for col in form %}
            {% if col.label == "姓名" %}
                <tr><td class="groupTitle" colspan="3">基础资料</td></tr>
            {% elif col.label == "关系类型" %}
                <tr><td class="groupTitle" colspan="3">人物关系</td></tr>
            {% elif col.label == "手机号码" %}
                <tr><td class="groupTitle" colspan="3">联系方式</td></tr>
            {% elif col.label == "学历" %}
                <tr><td class="groupTitle" colspan="3">其他</td></tr>
            {% endif %}
            <tr class="{% if col.label == 'ID' or col.label == 'USER' %}hide{% endif %}">
                <td class="col1">{{ col.label }}</td>
                {% if col.label == "性别" %}
                    {% if col.value == 1 %}
                        <td class="col2">男</td>
                    {% else %}
                        <td class="col2">女</td>
                    {% endif %}
                {% elif col.label == "关系类型" %}
                    {% if col.value == 0 %}
                        <td class="col2">自己</td>
                    {% elif col.value == 1 %}
                        <td class="col2">族亲</td>
                    {% elif col.value == 2 %}
                        <td class="col2">姻亲</td>
                    {% elif col.value == 3 %}
                        <td class="col2">同学</td>
                    {% elif col.value == 4 %}
                        <td class="col2">朋友</td>
                    {% elif col.value == 5 %}
                        <td class="col2">同事</td>
                    {% elif col.value == 6 %}
                        <td class="col2">战友</td>
                    {% elif col.value == 7 %}
                        <td class="col2">街坊</td>
                    {% else %}
                        <td class="col2">其他</td>
                    {% endif %}
                {% elif col.label == "家庭" %}
                    <td class="col2">{{ rec.family|default:"" }}</td>
                {% elif col.label == "父亲" %}
                    <td class="col2">{{ rec.father|default:"" }}</td>
                {% elif col.label == "母亲" %}
                    <td class="col2">{{ rec.mother|default:"" }}</td>
                {% elif col.label == "婚姻状态" %}
                    {% if col.value == 1 %}
                        <td class="col2">已婚</td>
                    {% else %}
                        <td class="col2">未婚</td>
                    {% endif %}
                {% elif col.label == "配偶" %}
                    <td class="col2">{{ rec.spouse|default:"" }}</td>
                {% elif col.label == "学历" %}
                    {% if col.value == 0 %}
                        <td class="col2">在读</td>
                    {% elif col.value == 1 %}
                        <td class="col2">小学</td>
                    {% elif col.value == 2 %}
                        <td class="col2">初中</td>
                    {% elif col.value == 3 %}
                        <td class="col2">高中</td>
                    {% elif col.value == 4 %}
                        <td class="col2">大专</td>
                    {% elif col.value == 5 %}
                        <td class="col2">本科</td>
                    {% elif col.value == 6 %}
                        <td class="col2">硕士</td>
                    {% elif col.value == 7 %}
                        <td class="col2">博士</td>
                    {% else %}
                        <td class="col2">其他</td>
                    {% endif %}
                {% elif col.label == "状态" %}
                    {% if col.value == 1 %}
                        <td class="col2">正常</td>
                    {% else %}
                        <td class="col2">失效</td>
                    {% endif %}
                {% else %}
                    <td class="col2">{{ col.value|default:"" }}</td>
                {% endif %}
                <td class="col4"><div class="subRemark">{{ col.help_text.0 }}</div><div class="subRemark">{{ col.help_text.1 }}</div></td>
            </tr>
        {% endfor %}
    </table>
    <p>
        <input id="btnOk" class="inputBtn" type="button" value="返回" style="margin-left: 196px; ">
    </p>
{% endblock %}


{% block scriptSub %}
    $("#btnOk").click(function () {
        location.href = "{% url 'app-base:personList' status=1 pageNo=1 %}";
    });
{% endblock %}
