{% extends "../frame.html" %}


{% block pageTitle %}首页{% endblock %}


{% block subStyle %}
    <style>
        .lanTitle{
            font-size: 24px;
            color: rgb(167, 167, 167);
            margin: 40px 0 20px 0;
        }
        .lanItem{
            font-size: 18px;
            color: rgb(167, 167, 167);
            margin: 20px 0 0 0;
        }
    </style>
{% endblock %}


{% block contents %}
    <div style="padding: 110px 10px 10px 70px; ">
        <p><span class="lanTitle">古人云</span></p>
        <p><span class="lanItem">世情薄，人情恶，雨送黄昏花易落。—— 南宋才女,陆游表妹 唐琬 《钗头凤》。</span></p>
        <p><span class="lanItem">天下熙熙，皆为利来；天下壤壤，皆为利往。—— 西汉史学家,思想家,文学家 司马迁 《史记·货殖列传》。</span></p>
        <p><span class="lanItem">人情淡薄，世态炎凉，只喜添锦上之花，谁肯送雪中之炭！—— 明末清初文学家、戏曲家 李渔《意中缘传奇》。</span></p>
        <p><span class="lanItem">人情似纸张张薄，世事如棋局局新。贫居闹市无人问，富在深山有远亲。</span></p>
        <p><span class="lanItem">不信但看宴中酒，杯杯先敬富贵人。门前拴上高头马，不是亲来也是亲。</span></p>
        <p><span class="lanItem">门前放根讨饭棍，亲戚故友不上门。世人结交需黄金，黄金不多交不深。</span></p>
        <p><span class="lanItem">酒肉朋友朝朝有，无钱无势亲不亲。相逢好比初相识，到老终无怨恨心。</span></p>
        <p><span class="lanItem">近水楼台先得月，向阳花木易为春。谁人背后无人说，那个人前不说人。</span></p>
        <p><span class="lanItem">如若十分都使尽，远在儿孙近在身。长江后浪推前浪，世上新人赶旧人。</span></p>
        <p><span class="lanItem">岂无远道思亲泪，不及高堂念子心。堂上二老是活佛，何用灵山朝世尊。</span></p>
        <p><span class="lanItem">富贵若从奸狡起，世间呆汉喝西风。求人须求大丈夫，济人须济急时无。</span></p>
    </div>
{% endblock %}
