{% extends "../extends/frame.html" %}


{% block styleMain %}
    <style>
        #i1, #i2{
            border: rgb(221, 221, 221) 1px solid;
            border-radius: 4px;
            width: 280px;
            height: 40px;
            padding-left: 38px;
            font-size: 16px;
        }
        #i3{
            border: none;
            background-color: rgb(17, 150, 219);
            border-radius: 4px;
            width: 318px;
            height: 42px;
            font-size: 18px;
            color: white;
        }
        a{
            font-size: 12px;
        }
    </style>
{% endblock %}

{% block contentsMain %}
    <div style="margin-top: 200px; "></div>
    <div style="width: 320px; padding: 0 80px; margin: 10px auto; ">
        {% include "../include/relFlag.html" %}
    </div>
    <div style="height: 240px; background-color: #F9F9F9; ">
        <div style="width: 320px; height: 240px; padding: 0 80px; margin: 0 auto; background-color: #F2F2F2; overflow: hidden; ">
            <form action="{% url 'app-sys:login' %}" method="POST">
                {% csrf_token %}
                <div></div>
                <div style="width: 320px; margin-top: 40px; position: relative; ">
                    <input id="i1" type="text" name="username" placeholder="请输入用户名" />
                    <div style="display: inline-block; width: 24px; height: 24px; background-image: url('/static/images/login.png'); background-position-y: 0; position: absolute; left: 10px; top: 10px;"></div>
                </div>
                <div style="width: 320px; margin-top: 20px; position: relative; ">
                    <input id="i2" type="password" name="userpw" placeholder="请输入密码" />
                    <div style="display: inline-block; width: 24px; height: 24px; background-image: url('/static/images/login.png'); background-position-y: -24px; position: absolute; left: 10px; top: 10px;"></div>
                </div>
                <label class="promptInfo">{{ info }}</label>
                <div style="width: 320px; margin-top: 20px; ">
                    <input id="i3" type="submit" value="登录" /></p>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div style="width: 320px; padding: 0 80px; margin: 0 auto; ">
            <p><a href="{% url 'app-sys:register' %}">注册新用户</a></p>
            <p><a href="">忘记密码？</a></p>
        </div>
    </div>
{% endblock %}