{% extends "../extends/frameBaseModify.html" %}


{% block pageTitle %}设置{% endblock %}


{% block dataFree %}
    <form action="{% url 'app-sys:set' %}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td class="groupTitle" colspan="4">设置</td>
            </tr>
            <tr>
                <td class="col1">{{ form.id.label }}</td>
                <td class="col2">{{ form.id }}</td>
                <td class="col3">{{ form.id.errors }}</td>
                <td class="col4"><div class="subRemark"></div><div class="subRemark"></div></td>
            </tr>
            <tr>
                <td class="col1">{{ form.person.label }}</td>
                <td class="col2">{{ form.person }}</td>
                <td class="col3">{{ form.person.errors }}</td>
                <td class="col4"><div class="subRemark">选择当前登录账户对应的人员</div><div class="subRemark">设置后才能记录人情簿往来</div></td>
            </tr>
        </table>
        <p>
            <input class="inputBtn" type="submit" value="提交" style="margin-left: 196px; ">
            <input id="btnCancel" class="inputBtn" type="button" value="取消">
        </p>
    </form>
{% endblock %}


{% block scriptSub %}
    $("#btnCancel").click(function () {
        location.href = "{% url 'app-sys:index' %}"
    });
{% endblock %}
