{% extends "master/mMain.html" %}

{% block content %}
    <div style="padding: 0 20px; ">
        <h2>修改商品</h2>
        <form id="data-modify" targetID="{{ rec.id }}">
            <p><label class="labelInput" for="col_code">编码：</label><input id="col_code" name="col_code" type="text" value="{{ rec.code }}"></p>
            <p><label class="labelInput" for="col_name">名称：</label><input id="col_name" name="col_name" type="text" value="{{ rec.name }}"></p>
            <p><label class="labelInput" for="col_price">参考价格：</label><input id="col_price" name="col_price" type="text" value="{{ rec.price }}"></p>
            <p><label class="labelInput" for="col_verMain">主版本：</label><input id="col_verMain" name="col_verMain" type="text" value="{{ rec.verMain }}"></p>
            <p><label class="labelInput" for="col_verSub">子版本：</label><input id="col_verSub" name="col_verSub" type="text" value="{{ rec.verSub }}"></p>
            <p><label class="labelInput" for="col_datePro">注册日期：</label><input id="col_datePro" name="col_datePro" type="date" value="{{ rec.datePro|date:"Y-m-d" }}"></p>
            <p><label class="labelInput" for="col_dateCur">版本日期：</label><input id="col_dateCur" name="col_dateCur" type="date" value="{{ rec.dateCur|date:"Y-m-d" }}"></p>
            <p><label class="labelInput" for="col_status">状态：</label><select id="col_status" name="col_status" selectedValue="{{ rec.status }}"><option value="1">正常</option><option value="0">下架</option> </select></p>
            <p><label class="labelInput" for="col_remark">备注：</label><input id="col_remark" name="col_remark" type="text" value="{{ rec.remark }}"></p>
            <p><label class="labelInput"></label><label class="promptInfo"></label></p>
            <p><label class="labelInput"></label><input id="btn-save" type="button" value="保存"><input id="btn-cancel" type="button" value="取消" style="margin-left: 10px; "></p>
        </form>
    </div>
{% endblock %}
{% block subscript %}
    $("#col_status").children().each(function () {
        if ($(this).val() == $(this).parent().attr("selectedValue")) {
            $(this).attr("selected", "selected");
        }
    });
    $("#btn-save").click(function () {
        $.ajax({
            url: "products-modify-" + $("#data-modify").attr("targetID"),
            method: "POST",
            data: $("#data-modify").serialize(),
            dataType: "JSON",
            success: function(data) {
                if (data.result) {
                    location.href = "products-detail-" + $("#data-modify").attr("targetID");
                } else {
                    $(".promptInfo").text(data.info);
                }
            },
            error: function() {
                $(".promptInfo").text("Error is raised!");
            }
        })
    });
    $("#btn-cancel").click(function () {
        location.href = "products-1"
    });
{% endblock %}
