{% extends "../frame.html" %}


{% block pageTitle %}八方随礼{% endblock %}


{% block subStyle %}
    <link href="/static/css/querySheet.css" type="text/css" rel="stylesheet">
{% endblock %}


{% block contents %}
    <div style="margin: 10px; ">
        <div class="queryBackground">
            <div class="queryGroup">
                <div class="queryLabel">查询开始日期：</div>
                <input id="dateFrom" type="date" class="queryItem" value="{{ from|date:"Y-m-d" }}">
            </div>
            <div class="queryGroup">
                <div class="queryLabel">截止日期：</div>
                <input id="dateTo" type="date" class="queryItem" value="{{ to|date:"Y-m-d" }}">
            </div>
            <div class="queryGroup">
                <div class="queryLabel">事件类型：</div>
                <select id="queryEventType" class="queryItem">
                    <option value="0" selected="selected">全部</option>
                    <option value="1">结婚</option>
                    <option value="2">生子</option>
                    <option value="3">周岁</option>
                    <option value="4">祝寿</option>
                    <option value="5">考学</option>
                    <option value="6">乔迁</option>
                    <option value="7">身故</option>
                    <option value="99">其他</option>
                </select>
            </div>
            <div class="queryGroup">
                <div class="queryLabel">宴请类型：</div>
                <select id="queryFormType" class="queryItem">
                    <option value="0" selected="selected">全部</option>
                    <option value="1">隆重宴请</option>
                    <option value="2">亲朋小聚</option>
                    <option value="3">低调跳过</option>
                    <option value="99">待定</option>
                </select>
            </div>
        </div>
        <div style="overflow: hidden; ">
            <input id="btnNew" class="queryButton" type="button" value="新增">
            <input id="btnQuery" class="queryButton" type="button" value="查询">
            <input id="btnExport" class="queryButton" type="button" value="导出">
            <div class="queryDescribe">
                <span>共{{ recCnt }}条记录</span>
            </div>
        </div>
        <div style="margin-top: 10px; ">
            {% csrf_token %}
            <table>
                <thead>
                <tr>
                    <th style="width: 50px; ">序号</th>
                    <th style="width: 120px; ">事件日期</th>
                    <th style="width: 120px; ">家庭</th>
                    <th style="width: 160px; ">事件简称</th>
                    <th style="width: 120px; ">当事人</th>
                    <th style="width: 100px; ">事件类型</th>
                    <th style="width: 100px; ">宴请类型</th>
                    <th style="width: 160px; ">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for rec in dataList %}
                    <tr recID="{{ rec.id }}">
                        <td style="text-align: center; ">{{ forloop.counter }}</td>
                        <td>{{ rec.event.eventDate|date:"Y-m-d" }}</td>
                        <td>{{ rec.event.family }}</td>
                        <td style="text-align: left; "><a href="http://127.0.0.1:8000/busi/joinRecordDetail-{{ rec.id }}">{{ rec.event.eventName }}</a></td>
                        <td>{{ rec.event.person.name }}</td>
                        {% if rec.event.eventType == 1 %}
                            <td>结婚</td>
                        {% elif rec.event.eventType == 2 %}
                            <td>生子</td>
                        {% elif rec.event.eventType == 3 %}
                            <td>周岁</td>
                        {% elif rec.event.eventType == 4 %}
                            <td>祝寿</td>
                        {% elif rec.event.eventType == 5 %}
                            <td>考学</td>
                        {% elif rec.event.eventType == 6 %}
                            <td>乔迁</td>
                        {% elif rec.event.eventType == 7 %}
                            <td>身故</td>
                        {% else %}
                            <td>其他</td>
                        {% endif %}
                        {% if rec.event.formType == 1 %}
                            <td>隆重宴请</td>
                        {% elif rec.event.formType == 2 %}
                            <td>亲朋小聚</td>
                        {% elif rec.event.formType == 3 %}
                            <td>低调跳过</td>
                        {% else %}
                            <td>待定</td>
                        {% endif %}
                        <td style="text-align: center; "><span class="labelBtn recModify">修改</span><span class="labelBtn recDelete">删除</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>{{ pagetag|safe }}</p>
            <span class="promptInfo"></span>
        </div>
        <div id="dialogDel" class="hide dialogMin">
            <span>确定要删除当前记录吗？</span>
            <div style="margin-top: 20px; ">
                <input id="delCancel" type="button" class="right inputBtn" style="margin-left: 10px; " value="取消">
                <input id="delOk" type="button" class="right inputBtn" style="margin-left: 10px; " value="确定">
            </div>
        </div>
    </div>
{% endblock %}


{% block subScript %}
    $("#PAGE_reccnt_perpage_select").val($.cookie("reccnt_perpage"));
    $("#PAGE_reccnt_perpage_select").change(function () {
        $.cookie("reccnt_perpage", $(this).val(), {path: "/busi/"});
        location.href = "http://127.0.0.1:8000/busi/joinRecordList-1";
    });
    if ($.cookie("joinRecordListEventType")) {
        $("#queryEventType").val($.cookie("joinRecordListEventType"));
    }
    $("#queryEventType").change(function () {
        $.cookie("joinRecordListEventType", $(this).val(), {path: "/busi/"});
        location.href = "http://127.0.0.1:8000/busi/joinRecordList-1";
    });
    if ($.cookie("joinRecordListFormType")) {
        $("#queryFormType").val($.cookie("joinRecordListFormType"));
    }
    $("#queryFormType").change(function () {
        $.cookie("joinRecordListFormType", $(this).val(), {path: "/busi/"});
        location.href = "http://127.0.0.1:8000/busi/joinRecordList-1";
    });
    $("#btnQuery").click(function () {
        sHref = "http://127.0.0.1:8000/busi/joinRecordList-1";
        if ($("#dateFrom").val()) {
            sHref = sHref + "?from=" + $("#dateFrom").val()
        }
        if ($("#dateTo").val()) {
            sHref = sHref + "&to=" + $("#dateTo").val()
        }
        location.href = sHref;
    });
    $("#btnNew").click(function () {
        location.href = "http://127.0.0.1:8000/busi/joinRecordNew";
    });
    $(".recModify").click(function () {
        location.href = "http://127.0.0.1:8000/busi/joinRecordModify-" + $(this).parent().parent().attr("recID")
    });
    $(".recDelete").click(function () {
        $("#dialogDel").attr("recID", $(this).parent().parent().attr("recID"));
        $(".cover-layer").removeClass("hide");
        $("#dialogDel").removeClass("hide");
    });
    $("#delCancel").click(function () {
        $(".cover-layer").addClass("hide");
        $("#dialogDel").addClass("hide");
    });
    $("#delOk").click(function () {
        $(".promptInfo").text("");
        csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            url: "joinRecordDelete-" + $(this).parent().parent().attr("recID"),
            method: "POST",
            data: {"csrfmiddlewaretoken": csrf},
            dataType: "JSON",
            success: function(data) {
                if (data.result) {
                    location.reload();
                } else {
                    $(".promptInfo").text(data.info);
                    $(".cover-layer").addClass("hide");
                    $("#dialogDel").addClass("hide");
                }
            }
        })
    });
{% endblock %}
