{% extends "../extends/frameBusiDetail.html" %}


{% block pageTitle %}八方随礼 — 查看{% endblock %}


{% block dataFree %}
    <table>
        <tr>
            <td class="groupTitle" colspan="3">基础信息</td>
        </tr>
        {% for col in formEvent %}
            {% if col.name == "eventDate" or col.name == "eventName" or col.name == "family" or col.name == "person" or col.name == "eventType" or col.name == "formType" or col.name == "dateFrom" or col.name == "dateTo" %}
                <tr>
                    <td class="col1">{{ col.label }}</td>
                    {% if col.name == "eventDate" %}
                        <td>{{ col.value|date:"Y-m-d" }}</td>
                    {% elif col.name == "family" %}
                        <td>{{ recEvent.family }}</td>
                    {% elif col.name == "person" %}
                        <td>{{ recEvent.person }}</td>
                    {% elif col.name == "eventType" %}
                        {% if col.value == 1 %}
                            <td>结婚</td>
                        {% elif col.value == 2 %}
                            <td>生子</td>
                        {% elif col.value == 3 %}
                            <td>周岁</td>
                        {% elif col.value == 4 %}
                            <td>祝寿</td>
                        {% elif col.value == 5 %}
                            <td>考学</td>
                        {% elif col.value == 6 %}
                            <td>乔迁</td>
                        {% elif col.value == 7 %}
                            <td>身故</td>
                        {% else %}
                            <td>其他</td>
                        {% endif %}
                    {% elif col.name == "formType" %}
                        {% if col.value == 1 %}
                            <td>隆重宴请</td>
                        {% elif col.value == 2 %}
                            <td>亲朋小聚</td>
                        {% elif col.value == 3 %}
                            <td>低调跳过</td>
                        {% else %}
                            <td>其他</td>
                        {% endif %}
                    {% elif col.name == "dateFrom" %}
                        <td>{{ col.value|date:"Y-m-d" }}</td>
                    {% elif col.name == "dateTo" %}
                        <td>{{ col.value|date:"Y-m-d" }}</td>
                    {% else %}
                        <td class="col2">{{ col.value|default:"" }}</td>
                    {% endif %}
                    <td class="col4"><div class="subRemark">{{ col.help_text.0 }}</div><div class="subRemark">{{ col.help_text.1 }}</div></td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td class="groupTitle" colspan="3">详细信息</td>
        </tr>
        {% for col in formRecord %}
            {% if col.name == "amtBook" or col.name == "amtOther" or col.name == "recTime" or col.name == "remark" %}
                <tr>
                    <td class="col1"><label for="{{ col.id_for_label }}">{{ col.label }}</label></td>
                    {% if col.name == "recTime" %}
                        <td class="col2">{{ col.value|date:"Y-m-d h:i:s" }}</td>
                    {% else %}
                        <td class="col2">{{ col.value|default:"" }}</td>
                    {% endif %}
                    <td class="col4"><div class="promptInfo">{{ col.errors.0 }}</div><div class="promptInfo">{{ col.errors.1 }}</div></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <p>
        <input id="btnOk" class="inputBtn" type="button" value="返回" style="margin-left: 196px; ">
    </p>
{% endblock %}


{% block scriptSub %}
    $("#btnOk").click(function () {
        location.href = "{% url 'app-busi:joinList' pageNo=1 %}";
    });
{% endblock %}
