{% extends "../extends/frameBusiModify.html" %}


{% block pageTitle %}八方随礼 — 修改{% endblock %}


{% block dataFree %}
    <form action="{% url 'app-busi:joinModify' nid=nid %}" method="POST">
        {% csrf_token %}
        <table>
            {% if formEvent.non_field_errors %}
                <tr class="promptLine">
                    <td class="col1 promptInfo"><label>错误：</label></td>
                    <td class="promptInfo" colspan="2">{{ formEvent.non_field_errors.0 }}</td>
                </tr>
            {% elif formRecord.non_field_errors %}
                <tr class="promptLine">
                    <td class="col1 promptInfo"><label>错误：</label></td>
                    <td class="promptInfo" colspan="2">{{ formRecord.non_field_errors.0 }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="groupTitle" colspan="3">基础信息</td>
            </tr>
            {% for col in formEvent %}
                <tr class="{% if col.label != "ID" and col.label != "事件日期" and col.label != "事件简称" and col.label != "家庭" and col.label != "当事人" and col.label != "事件类型" and col.label != "宴请类型" and col.label != "开始日期" and col.label != "截止日期" %}hide{% endif %}">
                    <td class="col1"><label for="{{ col.id_for_label }}">{{ col.label }}</label></td>
                    <td class="col2">{{ col }}</td>
                    <td class="col4"><div class="subRemark">{{ col.help_text.0 }}</div><div class="subRemark">{{ col.help_text.1 }}</div></td>
                </tr>
                {% if col.errors %}
                    <tr class="promptLine {% if col.label != "ID" and col.label != "事件日期" and col.label != "事件简称" and col.label != "家庭" and col.label != "当事人" and col.label != "事件类型" and col.label != "宴请类型" and col.label != "开始日期" and col.label != "截止日期" %}hide{% endif %}">
                        <td class="col1 promptInfo"><label>错误：</label></td>
                        <td class="promptInfo" colspan="2">{{ col.errors.0 }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td class="groupTitle" colspan="3">详细信息</td>
            </tr>
            {% for col in formRecord %}
                <tr class="{% if col.label != "礼金" and col.label != "其他支出" and col.label != "备注" %}hide{% endif %}">
                    <td class="col1"><label for="{{ col.id_for_label }}">{{ col.label }}</label></td>
                    <td class="col2">{{ col }}</td>
                    <td class="col4"><div class="subRemark">{{ col.help_text.0 }}</div><div class="subRemark">{{ col.help_text.1 }}</div></td>
                </tr>
                {% if col.errors %}
                    <tr class="promptLine {% if col.label != "礼金" and col.label != "其他支出" and col.label != "备注" %}hide{% endif %}">
                        <td class="col1 promptInfo"><label>错误：</label></td>
                        <td class="promptInfo" colspan="2">{{ col.errors.0 }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <p>
            <input class="inputBtn" type="submit" value="提交" style="margin-left: 196px; ">
            <input id="btnCancel" class="inputBtn" type="button" value="取消">
        </p>
    </form>
{% endblock %}


{% block scriptSub %}
    $("#btnCancel").click(function () {
        location.href = "{% url 'app-busi:joinList' pageNo=1 %}"
    });
{% endblock %}
