{% extends "../extends/frameBusiList.html" %}


{% block pageTitle %}礼宴亲朋{% endblock %}


{% block queryFields %}
    <div class="queryGroup">
        <div class="queryLabel">状态：</div>
        <select id="queryStatus" selectedValue="{{ status }}" class="queryItem">
            <option value="0" selected="selected">全部</option>
            <option value="2">计划</option>
            <option value="9">完成</option>
        </select>
    </div>
{% endblock %}


{% block dataGrid %}
    <table>
        <thead>
        <tr>
            <th style="width: 50px; ">序号</th>
            <th style="width: 120px; ">事件日期</th>
            <th style="width: 240px; ">事件简称</th>
            <th style="width: 120px; ">当事人</th>
            <th style="width: 120px; ">事件类型</th>
            <th style="width: 120px; ">宴请类型</th>
            <th style="width: 240px; ">事件说明</th>
            <th style="width: 160px; ">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for rec in dataList %}
            <tr recID="{{ rec.id }}">
                <td style="text-align: center; ">{{ forloop.counter }}</td>
                <td>{{ rec.eventDate|date:"Y-m-d" }}</td>
                <td style="text-align: left; "><a href="{% url 'app-busi:eventDetail' nid=rec.id %}">{{ rec.eventName }}</a></td>
                <td>{{ rec.person.name }}</td>
                {% if rec.eventType == 1 %}
                    <td>结婚</td>
                {% elif rec.eventType == 2 %}
                    <td>生子</td>
                {% elif rec.eventType == 3 %}
                    <td>周岁</td>
                {% elif rec.eventType == 4 %}
                    <td>祝寿</td>
                {% elif rec.eventType == 5 %}
                    <td>考学</td>
                {% elif rec.eventType == 6 %}
                    <td>乔迁</td>
                {% elif rec.eventType == 7 %}
                    <td>身故</td>
                {% else %}
                    <td>其他</td>
                {% endif %}
                {% if rec.formType == 1 %}
                    <td>隆重宴请</td>
                {% elif rec.formType == 2 %}
                    <td>亲朋小聚</td>
                {% elif rec.formType == 3 %}
                    <td>低调跳过</td>
                {% else %}
                    <td>待定</td>
                {% endif %}
                {% if rec.eventDes %}
                    <td>{{ rec.eventDes }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td style="text-align: center; ">
                    <span class="labelBtn recModify">修改</span>
                    <span class="labelBtn recDelete">删除</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block scriptSub %}
    $("#PAGE_reccnt_perpage_select").change(function () {
        $.cookie("reccnt_perpage", $(this).val(), {path: "/busi/"});
        location.href = "http://127.0.0.1:8000/busi/relEventList-" + $("#queryStatus").val() + "-1";
    });
    $("#queryStatus").children().each(function () {
        if ($(this).val() == $("#queryStatus").attr("selectedValue")) {
            $(this).attr("selected", "selected");
        }
    });
    $("#btnQuery").click(function () {
        sHref = "http://127.0.0.1:8000/busi/relEventList-" + $("#queryStatus").val() + "-1";
        if ($("#dateFrom").val()) {
            sHref = sHref + "?from=" + $("#dateFrom").val();
        }
        if ($("#dateTo").val()) {
            sHref = sHref + "&to=" + $("#dateTo").val();
        }
        location.href = sHref;
    });
    $("#btnNew").click(function () {
        location.href = "{% url 'app-busi:eventNew' %}";
    });
    $(".recModify").click(function () {
        location.href = "http://127.0.0.1:8000/busi/relEventModify-" + $(this).parent().parent().attr("recID")
    });
    $("#delOk").click(function () {
        $(".promptInfo").text("");
        csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            url: "http://127.0.0.1:8000/busi/relEventDelete-" + $(this).parent().parent().attr("recID"),
            method: "POST",
            data: {"csrfmiddlewaretoken": csrf},
            dataType: "JSON",
            success: function(data) {
                if (data.result) {
                    location.reload();
                } else {
                    $(".promptInfo").text(data.info);
                    $(".cover-layer").addClass("hide");
                    $("#dialogDel").addClass("hide");
                }
            }
        })
    });
{% endblock %}
