{% extends "extends/frameMain.html" %}


{% block pageTitle %}员工管理-分页-新增{% endblock %}


{% block styleFrame %}
    <link href="/static/css/baseinfo.css" type="text/css" rel="stylesheet">
{% endblock %}


{% block contentsFrame %}
    <form action="/employee/new" method="POST">
        <p><label for="jobNumber">工号：</label><input id="jobNumber" name="jobNumber" type="text"></p>
        <p><label for="name">姓名：</label><input id="name" name="name" type="text"></p>
        <p><label for="gender">性别：</label><input id="gender" name="gender" type="radio" value="1" checked="checked">男<input name="gender" type="radio" value="0">女</p>
        <p><label for="name">部门：</label><input id="dept_id" name="dept_id" type="text"></p>
        <p><label for="position">岗位：</label><select id="position" name="position"><option value="product">产品</option><option value="develop" selected="selected">研发</option><option value="test">测试</option><option value="service">营运</option></select></p>
        <p><label for="mobile">电子邮箱：</label><input id="mobile" name="mobile" type="text"></p>
        <p><label for="mobile">手机号码：</label><input id="mobile" name="mobile" type="text"></p>
        <p><label for="pwd">密码：</label><input id="pwd" name="pwd" type="password"></p>
        <p><label for="status">状态：</label><input id="status" name="status" type="checkbox" checked="checked"></p>
        <input type="submit" value="确定" style="margin-left: 120px;" /><input id="btn_rtn" type="button" value="返回">
    </form>
    <form id="rtn" action="/employees" method="GET">
    </form>
{% endblock %}


{% block scriptFrame %}
    $("#btn_rtn").click(function () {
        $("#rtn").submit();
    });
{% endblock %}