<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台</title>
    <link rel="stylesheet" href="/static/commons.css">
</head>
<body>
    <div style="height: 50px; background-color: #DDDDDD"></div>
    <form action="/home" method="post">
        <p>
            <label for="name">姓名：</label>
            <input id="name" name="name" type="text" placeholder="请输入姓名">
        </p>
        <p>
            <label for="gender">性别：</label>
            <input id="gender" name="gender" type="radio" value="男">男
            <input name="gender" type="radio" value="女" checked="checked">女
        </p>
        <p>
            <label for="email">email：</label>
            <input id="email" name="email" type="text" placeholder="请输入email">
        </p>
        <p>
            <input type="submit" value="增加">
        </p>
    </form>
    <table>
        {% for user in user_list %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>