{% extends "../extends/frameMain.html" %}


{% block styleFrame %}
    <link href="/static/css/querySheet.css" type="text/css" rel="stylesheet">
    {% block styleSub %}
    {% endblock %}
{% endblock %}


{% block contentsFrame %}
    <div style="margin: 10px; ">
        {% block queryCondition %}
            <div class="queryBackground">
                <div class="queryGroup">
                    <div class="queryLabel">查询开始日期：</div>
                    <input id="dateFrom" type="date" class="queryItem" value="{{ from|date:"Y-m-d" }}">
                </div>
                <div class="queryGroup">
                    <div class="queryLabel">截止日期：</div>
                    <input id="dateTo" type="date" class="queryItem" value="{{ to|date:"Y-m-d" }}">
                </div>
                {% block queryFields %}
                {% endblock %}
            </div>
        {% endblock %}
        <div style="overflow: hidden; ">
            <input id="btnNew" class="queryButton" type="button" value="新增">
            <input id="btnQuery" class="queryButton" type="button" value="查询">
            <input id="btnExport" class="queryButton" type="button" value="导出">
            <div class="queryDescribe">
                <span>共{{ recCnt }}条记录</span>
            </div>
        </div>
        <div class="promptInfo"></div>
        <div style="margin-top: 10px; ">
            {% csrf_token %}
            {% block dataGrid %}
            {% endblock %}
            <p>{{ pagetag|safe }}</p>
        </div>
        <div id="dialogDel" class="hide dialogMin">
            <span>确定要删除当前记录吗？</span>
            <div style="margin-top: 20px; ">
                <input id="delCancel" type="button" class="right inputBtn" style="margin-left: 10px; " value="取消">
                <input id="delOk" type="button" class="right inputBtn" style="margin-left: 10px; " value="确定">
            </div>
        </div>
    </div>
{% endblock %}


{% block scriptFrame %}
    $("#PAGE_reccnt_perpage_select").val($.cookie("reccnt_perpage"));
    $(".recDelete").click(function () {
        $("#dialogDel").attr("recID", $(this).parent().parent().attr("recID"));
        $(".cover-layer").removeClass("hide");
        $("#dialogDel").removeClass("hide");
    });
    $("#delCancel").click(function () {
        $(".cover-layer").addClass("hide");
        $("#dialogDel").addClass("hide");
    });
    {% block scriptSub %}
    {% endblock %}
{% endblock %}
