<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工管理</title>
    <link rel="stylesheet" href="/static/commons.css">
</head>
<body>
    <div id="frameTitle">
        <div id="frameTitleText">后台管理系统</div>
    </div>
    <div id="frameMain">
        <div id="frameMenu0">
            <div class="frameMenu1">后台管理</div>
            <div class="frameMenu2">员工管理</div>
        </div>
        <div id="frameContent">
            <h3>员工管理</h3>
            <a href="/employee/new">新增</a>
            <table id="empList">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>姓名</td>
                    <td>性别</td>
                    <td>岗位</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                {% for emp in users %}
                <tr>
                    <td class="col1">{{ emp.ID }}</td>
                    <td class="col2"><a href="/employee/detail?userID={{ emp.ID }}">{{ emp.name }}</a></td>
                    <td class="col1">{{ emp.gender }}</td>
                    <td class="col1">{{ emp.position }}</td>
                    <td class="col2"><a href="/employee/update?userID={{ emp.ID }}">修改</a> |
                        <a class="btn_delete" targetID="{{ emp.ID }}">删除</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mask hide"></div>
        <div id="winAsk" class="popup hide">
            <h4 id="deleteAsk">确定要删除该员工吗？</h4>
            <form action="/employee/delete" method="POST">
                <input class="hide" id="deleteID" type="text" name="userID">
                <input type="submit" value="确定">
                <input id="btn_cancel" type="button" value="取消">
            </form>
        </div>
    </div>
    <script src="/static/jquery3.4.1.js"></script>
    <script>
        $(".btn_delete").click(function () {
            $("#deleteID").val($(this).attr("targetID"));
            $("#deleteAsk").text("确定要删除ID为[" + $(this).attr("targetID") + "]的员工吗？");
            $("#winAsk").removeClass("hide");
            $(".mask").removeClass("hide");
        });
        $("#btn_cancel").click(function () {
            $("#winAsk").addClass("hide");
            $(".mask").addClass("hide");
        });
    </script>
</body>
</html>