body{
    margin: 0;
    background-color: #EEEEEE;
}
#frameTitle{
    position: fixed;
    height: 80px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #888888;
}
#frameTitleText{
    height: 80px;
    font-size: 28px;
    text-align: left;
    line-height: 80px;
    margin-left: 20px;
    color: white;
}
#singleContent{
    width: 1080px;
    padding: 100px;
    margin: 200px auto;
    border: #BBBBBB 1px solid;
    border-radius: 6px;
}
label{
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}
.input{
    width: 200px;
    height: 30px;
    line-height: 30px;
}
.button{
    width: 100px;
    height: 30px;
    margin: 10px 10px;
}

#frameMain{
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
}
#frameMenu0{
    position: fixed;
    width: 280px;
    top: 80px;
    bottom: 0;
    left: 0;
    background-color: #DDDDDD;
}
.frameMenu1{
    font-size: 24px;
    height: 40px;
    text-align: left;
    line-height: 40px;
    padding-left: 20px;
    background-color: #BBBBBB;
    color: #333333;
}
.frameMenu2{
    font-size: 16px;
    height: 32px;
    text-align: left;
    line-height: 32px;
    padding-left: 40px;
    color: #333333;
    cursor: pointer;
}
.frameMenu2:hover{
    background-color: #CCCCCC;
    color: #3333DD;
}
#frameContent{
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 280px;
    background-color: #EEEEEE;
}
.infoErr{
    font-size: 16px;
    color: red;
}
table{
    border: #333333 1px solid;
    border-collapse: collapse;
}
thead{
    background-color: #DDDDDD;
}
td{
    border: #888888 1px solid;
    height: 30px;
}
.col1{
    width: 60px;
}
.col2{
    width: 120px;
}
.col3{
    width: 180px;
}
.detailLabel{
    width: 120px;
    height: 30px;
    text-align: right;
}
.detailValue{
    width: 240px;
    height: 30px;
    text-align: left;
}

.mask{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 60;
}
.popup{
    position: fixed;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    border: #888888 1px solid;
    background-color: white;
    padding: 20px 50px;
    z-index: 70;
}
.hide{
    display: none;
}